{{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
{{ with site.GetPage "privacy.md" }} {{ printf "%s" .RelPermalink .Title | safeHTML }} {{ end }} {{ with site.GetPage "terms.md" }} {{ if site.GetPage "privacy.md" }} · {{ end }} {{ printf "%s" .RelPermalink .Title | safeHTML }} {{ end }}

{{ end }}
{{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}

{{/* Display copyright license. */}} {{ partial "site_footer_license" . }}
{{ if not (in (slice "docs" "updates") .Type) }} {{ end }}